.watermark-wrapper {
  width: 100%;
  height: 3em;
}

.Cards {
  margin-bottom: 8px;
}

@media screen and (min-width: 820px) {
  #App {
    width: 820px;
    margin: 60px auto;
    border: auto ridge aqua;
    padding: auto;
  }

  .Cards {
    max-width: 400px;
    margin-bottom: 8px;
  }
}